body{
    background-color: #383838;


}



.inputlabel {
  color: white;
  font-weight: bold;
  
}

.inputform1 {
   border: 0px;
    margin-bottom: 10px;
    height: 20px;
    border-radius: 10px;
}

.submitform {
  border:0px;
}

