body {
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    background-color: rgb(37, 37, 61);
    color:white
    
}
input{
    background-color: rgb(45, 45, 45);
    color:white;
    padding: 10px 200px;
    font-weight: bold;
    font-size: 15px;
}


button{
    background-color: rgb(45, 45, 45);
    color:white;
    
}

.btn{
    padding:10px 100px
}

::placeholder{
    color:white;
    font-weight: bold;
    
}

.container{
    width: 1000px;
    display:flex;
    flex-direction: column;
}

li{
    list-style-position:inside;
    border:3px solid rgb(80, 33, 95);
    margin:5px
}

ol li::marker {
    font-weight: bold;
    font-size: larger;
    color :rgb(114, 82, 165);
    
}


#headtag { 
    box-sizing: content-box;
    position:relative;
    background-color:rgb(62, 62, 62);
    width: 100%;
}

#progresso{
    font-size:40px
}


#headtag h1 { 
    text-align: center;
}


.Progress{
    position:absolute;
    left: 75%
}




.Delete {
    padding: 3px 10px;
    position:absolute;
    left: 17.25%;
    background-color: rgb(138, 42, 165);
    color:rgb(62, 1, 74);
    font-weight: bold;
    font-size: 15px;
    border: 0px
}